COUCHBASE_CONNSTR=couchbases://cb.avo5h16ewmipfgh2.cloud.couchbase.com
COUCHBASE_USERNAME=fare_etl_user
COUCHBASE_PASSWORD=Password1!

COUCHBASE_BUCKET=fares
COUCHBASE_SCOPE=airline
COUCHBASE_CURRENT_COLLECTION=current_fares
COUCHBASE_BATCH_COLLECTION=batch_control
COUCHBASE_DEADLETTER_COLLECTION=dead_letter

COUCHBASE_HISTORY_BUCKET=fare_history
COUCHBASE_HISTORY_SCOPE=airline
COUCHBASE_HISTORY_COLLECTION=fare_changes_7d

COUCHBASE_CONNECT_TIMEOUT_SECONDS=20
COUCHBASE_KV_TIMEOUT_SECONDS=10
